{% extends 'adminLayout.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block content %}
    <h1 class="text-center my-5">Ajout de produit</h1>
    <section>
        <form class="row">
            <div class="col-md-12">
                <label for="productName">Nom du produit:</label>
                <input type="text" class="form-control" id="productName" placeholder="" name="name">
            </div>
            <div class="col-md-12">
                <label for="description">Description du produit</label>
                <input type="text" class="form-control" id="description" placeholder="" name="description">
            </div>
            <div class="col-md-6">
                <label for="price">Prix</label>
                <input type="number" class="form-control" id="price" name="price">
            </div>
            <div class="col-md-6">
                <label for="date">Date d'entrée en magasin</label>
                <input type="date" class="form-control" id="date" name="date_added">
            </div>
            <div class="col-md-12">
                <label for="category">Categories</label>
                <select id="category" class="form-control" name="categories_id">
                    <option selected>Choisissez ...</option>
                    {% for category in categories %}
                        <option>{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </section>
{% endblock %}
