<!--Card -->

<div class="card col-sm-8 col-md-4 col-lg-4 justify-content-center">
    <div class="card-body text-center">
        <div class="card-img">
            <img class="img-thumbnail" src="{{ product.picture }}" alt=""/>
        </div>
        <h5 class="card-title">{{ product.name }} </h5>
        <p class="text">{{ product.price }}</p>
        <a href="/products/show/{{ product.id }}" class="btn btn-info">+ d'infos</a>
    </div>
</div>




