<div class="container-fluid pl-0 pr-0">
    <footer class="footer-bs">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-4 footer-brand animated fadeInLeft text-center">
                <img class="logo_footer pt-3" src="/assets/images/logo.png" alt="logo du site"></a>
                <address class="pb-5"><br> 104 rue du Faubourg Bannier <br> 45000 Orléans <br>
                    Telephone :
                    02 38 62 37 04 <br> Fax : 02 38 62 37 50 <br></address>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4 footer-nav animated fadeInUp pt-3">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list">
                            <li><a href="/home/index">Accueil</a></li>
                            <li><a href="/products/index">Produits</a></li>
                            <li><a href="#">Notre histoire</a></li>
                            <li><a href="#">Visite de la boutique</a></li>
                            <li><a href="/home/index#fonctionnement">Fonctionnement du dépot vente</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list">
                            <li><a href="/home/index#contact">Contact</a></li>
                            <li><a href="#">Nos partenaire</a></li>
                            <li><a href="#">Mentions légales</a></li>
                            <li><a href="/Faq/faq">Condition de vente</a></li>
                            <li><a href="https://fr-fr.facebook.com/Depotventebannier/" target="_blank">Facebook</a></li>
                            <li><a href="/adminProduct/list" >Admin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4 footer-social animated fadeInDown pt-3 pr-5 pl-5">
                <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0"
                        marginwidth="0"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=1.8992534279823303%2C47.90672368341705%2C1.902614235877991%2C47.90833465807172&amp;layer=mapnik"
                        style="border: 1px solid black"></iframe>
            </div>
        </div>
    </footer>
</div>
