<section class="container-fluid contactForm">
    <div class="col-12 title-contactForm">
        <h2 class="contactNousAccueil">Contactez-nous</h2>
    </div>
    <div class="col-12 text-contactForm">
        <p>Pour toute question concernant l'achat, la vente, un débarras ou que vous ayez besoin d'informations, n'hésitez pas à nous contacter via le formulaire ci-après</p>
    </div>
    <div class="col-12 row mt-5 justify-content-center align-content-center">
        <div class="col-lg-8">
            <form action="" method="post" autocomplete="on" novalidate class="contactForm">
                <div class="form-group">
                    <label for="message"></label>
                    <textarea name="message" id="message" placeholder="Votre message" class="form-control" rows="8" required></textarea>
                </div>
                <div class="form-group form-row">
                    <div class="col-lg-6">
                        <label for="telephone"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-phone-volume"></i></span>
                            </div>
                            <input type="tel" class="form-control" id="telephone" aria-describedby="inputGroupPrepend" pattern="^(0|\+33)[1-9]([-. ]?[0-9]{2}){4}$" name="telephone" value="" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="email"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-at"></i></span>
                            </div>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="inputGroupPrepend" value="" required>
                        </div>
                    </div>
                </div>
                <div>
                    <select class="form-control mt-4" id="civility_id" name="civility_id">
                        <option value="">Je vous contacte pour...</option>
                        <option value="acheter">Acheter</option>
                        <option value="vendre">Vendre</option>
                        <option value="se_debarrasser">Me débarrasser</option>
                        <option value="reinseignments">Renseignements</option>
                    </select>
                </div><br>
                <div class="form-group row d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-secondary btn-lg" name="submit">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</section>
