<h4 class="notreboutique text-center">Notre boutique</h4>
<section class="container" id="where">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-9">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=1.8992534279823303%2C47.90672368341705%2C1.902614235877991%2C47.90833465807172&amp;layer=mapnik"
                    style="border: 1px solid black"></iframe>
            <br/>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-9 text-center">
            <address class="pb-5">Nos coordonnées : <br> 104 rue du Faubourg Bannier <br> 45000 Orléans <br>
                Téléphone : 02 38 62 37 04 <br> Fax : 02 38 62 37 50
            </address>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th class="px-0 py-0" scope="row">Lundi</th>
                    <td class="px-0 py-0">Fermé</td>
                </tr>
                <tr>
                    <th class="px-0 py-0" scope="row">Mardi</th>
                    <td class="px-0 py-0">10:00-12:00
                        14:00-19:00
                    </td>
                </tr>
                <tr>
                    <th class="px-0 py-0" scope="row">Mercredi</th>
                    <td class="px-0 py-0">10:00-12:00
                        14:00-19:00
                    </td>
                </tr>
                <tr>
                    <th class="px-0 py-0" scope="row">jeudi</th>
                    <td class="px-0 py-0">10:00-12:00
                        14:00-19:00
                    </td>
                </tr>
                <tr>
                    <th class="px-0 py-0" scope="row">Vendredi</th>
                    <td class="px-0 py-0">10:00-12:00
                        14:00-19:00
                    </td>
                </tr>
                <tr>
                    <th class="px-0 py-0" scope="row">Samedi</th>
                    <td class="px-0 py-0">10:00-12:00
                        14:00-19:00
                    </td>
                </tr>
                <tr>
                    <th class="px-0 py-0" scope="row">Dimanche</th>
                    <td class="px-0 py-0">Fermé</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>