{% extends 'visitorLayout.html.twig' %}

{% block content %}

    <section class="d-none d-sm-block">
        <div class="jumbotron">
            <div class="text-white text-center py-5 px-4 my-5 row">
                <div class="text-jumbotron col-md-6">
                    <h2 class="card-title pt-3">
                        <strong>RETRO ON SALE</strong></h2>
                    <p>Antiquities Passion
                    </p>
                </div>
            </div>
        </div>
    </section>

    <h2 class="produits">Nos articles tendances</h2>

    <section class="container">


        <div class="row">
            {% for product in products if product.ahead == 1 %}
                {% include 'Item/_card.html.twig' %}
            {% endfor %}
        </div>
        <div class="row d-flex justify-content-center">
            <button class="btn btn-product px-5" type="button">Tous nos produits</button>
        </div>

    </section>

{% include 'Item/_formContact.html.twig' %}

{% endblock %}
