{% extends 'visitorLayout.html.twig' %}
{% block title %}Dépôt Bannier{% endblock %}
{% block content %}

    <section class="d-none d-sm-block">
        <div class="jumbotron">
            <div class="text-white text-center py-5 px-4 my-5 row">
                <div class="text-jumbotron col-md-6">
                    <h1 class="card-title pt-3">
                        <strong>Dépôt-Vente Bannier</strong></h1>
                    <p>Antiquities Passion
                    </p>
                </div>
            </div>
        </div>
    </section>
    <h2 class="titleheadband">Nos articles tendances</h2>
    <section class="container">
        <div class="row">
            {% for product in products if product.ahead == 1 %}
                {% include 'Item/_card.html.twig' %}
            {% endfor %}
        </div>
        <div class="form-group row d-flex justify-content-center mt-5 mb-0 ">
            <a href="/product/list/" class="btn btn-outline-secondary btn-lg allbuton">
                Tous nos produits</a>
        </div>
    </section>

    {% include "Item/_ourStore.html.twig" %}
    {% include "Item/_operationDeposit.html.twig" %}
    {% include 'Item/_formContact.html.twig' %}

{% endblock %}