{% extends 'layout.html.twig' %}

{% block jumbotron %}
<section id="jumbotron" class="container-fluid">
    <div class="jumbotron">
        <div class="text-white text-center py-5 px-4 my-5">
            <div class="text-jumbotron">
                <h2 class="card-title h1-responsive pt-3 font-bold"><strong>RETRO ON SALE</strong></h2>
                <p>Antiquities Passion</p>
                <!--  <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> View project</a> -->
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}

{% endblock %}
