{% extends 'visitorLayout.html.twig' %}

{% block content %}

    <section class="d-none d-sm-block">
        <div class="jumbotron">
            <div class="text-white text-center py-5 px-4 my-5 row">
                <div class="text-jumbotron col-md-6">
                    <h2 class="card-title pt-3">
                        <strong>Dépôt-Vente Bannier</strong></h2>
                    <p>Antiquities Passion
                    </p>
                </div>
            </div>
        </div>
    </section>

    <h4 class="nosarticletendance">Nos articles tendances</h4>

    <section class="container">
        <div class="row">
            {% for product in products if product.ahead == 1 %}
                {% include 'Item/_card.html.twig' %}
            {% endfor %}
        </div>
        <div class="form-group row d-flex justify-content-center mt-5 mb-0 ">
            <button href="/item/show/{{product.id}}" class="btn btn-outline-secondary btn-lg allbuton">Tous nos produits</button>
        </div>

    </section>
    <h4 class="notreboutique text-center">Notre boutique</h4>
    <section class="container pb-3">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-9">
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=1.8992534279823303%2C47.90672368341705%2C1.902614235877991%2C47.90833465807172&amp;layer=mapnik"
                        style="border: 1px solid black"></iframe>
                <br/>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-9 text-center">
                <address class="pb-5">Nos coordonnées : <br> 104 rue du Faubourg Bannier <br> 45000 Orléans <br>
                    Téléphone : 02 38 62 37 04 <br> Fax : 02 38 62 37 50
                </address>
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <th class="px-0 py-0" scope="row">Lundi</th>
                        <td class="px-0 py-0">Fermé</td>
                    </tr>
                    <tr>
                        <th class="px-0 py-0" scope="row">Mardi</th>
                        <td class="px-0 py-0">10:00-12:00
                            14:00-19:00
                        </td>
                    </tr>
                    <tr>
                        <th class="px-0 py-0" scope="row">Mercredi</th>
                        <td class="px-0 py-0">10:00-12:00
                            14:00-19:00
                        </td>
                    </tr>
                    <tr>
                        <th class="px-0 py-0" scope="row">jeudi</th>
                        <td class="px-0 py-0">10:00-12:00
                            14:00-19:00
                        </td>
                    </tr>
                    <tr>
                        <th class="px-0 py-0" scope="row">Vendredi</th>
                        <td class="px-0 py-0">10:00-12:00
                            14:00-19:00
                        </td>
                    </tr>
                    <tr>
                        <th class="px-0 py-0" scope="row">Samedi</th>
                        <td class="px-0 py-0">10:00-12:00
                            14:00-19:00
                        </td>
                    </tr>
                    <tr>
                        <th class="px-0 py-0" scope="row">Dimanche</th>
                        <td class="px-0 py-0">Fermé</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group row d-flex justify-content-center pt-3">
            <button href="#" class="btn btn-outline-secondary btn-lg allbuton">+ d'infos</button>
        </div>
    </section>


    <section>
        <h4 class="fonctionnementdepotvente" id="fonctionnement">Fonctionnement du depot vente</h4>
        <div class="container pb-3">
            <p class="text-justify">
            <h4>Le Dépot vente, comment ça marche?</h4><br>
            Vous héritez, votre maison est encombrée, vous souhaitez que votre intérieur évolue - bref, vous avez
            des meubles et des bibelots à vendre.<br>
            Profitez de notre expérience ! Vendez !<br>
            Nous effectuons gratuitement l'estimation de vos biens<br>
            Les dépôts sont sans rendez-vous<br>
            Vous restez propriétaire de vos biens jusque la complète réalisation de votre vente<br>
            Vos biens peuvent être repris sans frais dans la limite (période) de notre contrat<br>
            Vos biens sont assurés dans l'enceinte de nos établissements<br>
            <h4 class="pt-4">Notre contrat :</h4><br>
            Nous signons un contrat pour une période de 120 jours (4 mois) durant laquelle les prix ne baissent pas
            sans votre accord. Passé ce délai, les articles invendus devront simplement être repris ou leur prix
            baissé.<br>
            Moyenne de vente : 14 jours, 3 semaines pour les articles de gros volume<br>
            Notre commission est de 30.5 % H.T. sur les articles dont le prix de vente est supérieur à 60 € soit
            36.6% T.T.C.<br>
            Pour les articles de moins de 60€, notre commission est de 39% H.T.<br>
            Les articles déposés doivent être en bon état.<br>
            Vous êtes réglé par chèque 15 jours après la vente. Contactez nous régulièrement, nous vous donnerons
            l'état de votre vente.
            </p>

            <div class="form-group row d-flex justify-content-center pt-4 pb-4">
                <button type="submit" class="btn btn-outline-secondary btn-lg allbuton">+ d'infos</button>
            </div>
        </div>
    </section>

    {% include 'Item/_formContact.html.twig' %}

{% endblock %}
