{% extends 'visitorLayout.html.twig' %}
{% block title %}Nos produits{% endblock %}
{% block content %}
    <h2 class="produits">{{ category ? category.name : 'Tous nos produits' }}</h2>

    <section class="container">
        <form method="get" action="/Product/list/" class="contactForm">

            <select name="category" class="form-control text-align-center" onchange="location = this.value;">
                <option value="" selected>Tous nos produits</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id is same as(products[0].categories_id) %}
                    selected {% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>

            <div class="form-group form-row">

                <div class="form-group col-md-2 mt-3">
                    <select id="sortBy" class="form-control" name="sortBy">
                        <option value="">Trier par</option>
                        <option value="price">Prix</option>
                        <option value="date_added">Date d'ajout</option>
                    </select>
                </div>

                <div class="form-group col-md-6 mt-3">
                    <input type="search" class="form-control" id="search" name="search_box" value="">
                </div>
                <div class="form-group col-md-4 mt-3">
                    <button class="btn" name="search" type="submit">Rechercher</button>
                </div>
            </div>
        </form>

        <div class="row">
            {% for product in products %}
                {% include 'Item/_card.html.twig' %}
            {% endfor %}
        </div>

    </section>

{% endblock %}