<!-- Navbar -->

<!--Logo -->
<nav class="navbar navbar-expand-xl navbar-dark">
    <div>
        <a class="navbar-brand" href="/home/index"><img class="logo_navbar" src="/assets/images/logo.png" alt="logo du site"></a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--Link -->
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item col-auto">
                <a class="nav-link" href="/adminproducts/add">Ajouter un produit</a>
            </li>
            <li class="nav-item col-auto">
                <a class="nav-link" href="/adminproducts/list">Gestion des produits</a>
            </li>
            <li class="nav-item col-auto mr-5">
                <a class="nav-link" href="admincategory/list">Gestion des catégories</a>
            </li>
        </ul>
    </div>
</nav>