<footer>
    <div class="container-fluid">
        <div class="row mb-5 text-footer">
            <div class="col-justify-content-center col-md-4 col-lg-4">
                <ul class="text-footer">
                    <li><a href="#">Acceuil</a></li>
                    <li><a href="#">Produits</a></li>
                    <li><a href="#">Notre histoire</a></li>
                    <li><a href="#">Visite de la boutique</a></li>
                    <li><a href="#">Fonctionnement du depot-vente</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Nos partenaires</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 mt-3">
                <img class="logo_footer img-responsive centree" src="assets/images/logo.png" alt="logo du site"></a>
                <div class="text-center mr-5">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#">Mentions legaes -</a></li>
                        <li class="list-inline-item"><a href="#"> Conditions de ventes</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-justify-content-center col-md-4 col-lg-4 mt-3">
                <div style="width: 50%">
                    <iframe width="180%" height="130"
                            src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=104%20Faubourg%20Bannier%2045000%20Orl%C3%A9ans+(D%C3%A9pot%20Vente%20Bannier)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
                                href="https://www.maps.ie/map-my-route/">Create
                            route map</a></iframe>
                </div>
                <div class="row text-center-footer mt-2">
                    <div class="col mb-3">
                        <p>104 rue du Faubourg Bannier</p>
                        <p>45000 ORLEANS</p>
                        <p>Telephone : 02 38 62 37 04</p>
                        <p>Fax : 02 38 62 37 50</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
