<!-- Navbar -->

<!--Logo -->
<nav class="navbar navbar-expand-xl navbar-dark">
    <div class="logo_size">
        <a class="navbar-brand" href="#"><img class="logo_navbar" src="assets/images/logo.png" alt="logo du site"></a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--Link -->
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mx-auto">

            <li class="nav-item dropdown megamenu-li">
                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Acheter</a>
                <div class="dropdown-menu megamenu py-0" aria-labelledby="dropdown acheter">
                            <ul class="list-inline">
                                {% for categorie in categories %}
                                    <li class="list-inline-item">
                                        <a class="dropdown-item" href="/products/show/{{ categorie.id }}">{{ categorie.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                </div>
            </li>

            <li class="nav-item col-auto">
                <a class="nav-link" href="#">Vendre</a>
            </li>
            <li class="nav-item dropdown megamenu-li">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Notre boutique</a>
                <div class="dropdown-menu megamenu" aria-labelledby="dropdown notre boutique">
                    <div class="row justify-content-center text-center">
                        <div class="col-sm-6 col-lg-3">
                            <a class="dropdown-item" href="#">Notre histoire</a>
                            <a class="dropdown-item" href="#">Visite de la boutique</a>
                            <a class="dropdown-item" href="#">Fonctionnement du dépôt-vente</a>
                            <a class="dropdown-item" href="#">Ou sommes nous ?</a>
                            <a class="dropdown-item" href="#">Nos partenaires</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item col-auto">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item col-auto">
                <a class="nav-link" href="#">Débarras</a>
            </li>
        </ul>
        <!-- search bar -->
        <div class="row mx-1 justify-content-center">
            <form class="form-inline my-2 my-lg-0 justify-content-center">
                <input class="form-control mr-sm-2" type="search" placeholder="Recherchez ..."
                       aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Recherchez</button>
            </form>
        </div>
    </div>
</nav>