body {
    background-color: #FAFAFA;
}

/******Navbar******/
.navbar {
    background-color: #212121;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;

}
.navbar-nav {
    text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
    color: #FAFAFA;
}

.logo_navbar {
    height: 50px;
    position: relative;
}

.logo_size {
    width: 371px;
}

.dropdown.has-megamenu {
    position: static;
}

.dropdown-toggle::after {
    vertical-align: .1em;
}

.megamenu-li {
    position: static;
}

.megamenu {
    background-color: rgba(250,250,250,0.3);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 73px;
    padding: 15px;
}

.form-inline .form-control {
    width: auto;
}

.dropdown-item {
    padding: .25rem 0.5rem;
    font-size: 20px;
}

.dropdown-item {
    color: #FAFAFA;
}

.dropdown-item:hover {
    background-color: #8e8477;
}

@media screen and (max-width: 800px) {
    .logo_size {width: auto;}
}

/******End of Navbar******/

/******Jumbotron******/

.jumbotron {
    background-image: url('../images/jumbotron-furniture.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

.jumbotron div .text-jumbotron {
    margin: auto 0 auto auto;
    width: 55%;
}

.jumbotron div .text-jumbotron h2.card-title {
    font-size: 4.3vw;
    color: #E6844C;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    margin-right: 7%;
}

.jumbotron div .text-jumbotron h2.card-title + p {
    font-family: 'Great Vibes', cursive;
    font-size: 3vw;
    font-weight: 100;
    border-top: 1px solid #E6844C;
    width: 76%;
    margin: auto 7% auto auto;
    padding: 2% 0 5% 1%;
    text-align: right;
}

.jumbotron div .text-jumbotron h2.card-title strong {
    text-align: right;
}

.jumbotron div .text-jumbotron .card-title {
    margin-bottom: 0;
}

/******End of Jumbotron******/

/****Card****/


.img-thumbnail {
    height: 300px;
    width: 400px;
    object-fit: contain;

}

.card {
    border: #FAFAFA;
    background-color: #FAFAFA;
}

h2:nth-child(even){
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 0;
    background-color: #212121;
    color: #FAFAFA;
    font-size: 50px;
}
.produits {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 0;
    background-color: #212121;
    color: #FAFAFA;
    font-size: 50px;
}
.container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.btn-info {
    border: solid #212121 2px;
    background-color: #FAFAFA;
    color: #212121;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.btn-product {
    border: solid #212121 2px;
    font-size: 25px;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 50px;
}

.btn:hover {
    background-color: #8e8477;
    color: #FAFAFA;
    border-color: #212121;
}

.card-body {
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.card-title {
    font-weight: bold;
    margin-top: 30px;
}

body {
    background-color: #FAFAFA;
}

/**end cards**/

/******Footer******/
.logo_footer {
    height: auto;
    max-width: 60%

}

footer {
    background-color: #212121;
}

.text-footer a {
    font-size: 17px;
    color: white;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.text-footer ul {
    margin-top: 14px;
    margin-bottom: 1rem;
    list-style-type: none;
    text-decoration: none;
}

ul .horizontal-list li {
    display: inline;
}

.text-footer {
    font-size: 13px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.footer-map p {
    margin: -3px;
}

.text-center-footer {
    text-align: center;
}

.img-responsive .centree {
    margin: 0 auto;
}

/******End of Footer******/

