{% extends 'visitorLayout.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/style.css">{% endblock %}
{%  block faq %}

<section class="col-6 offset-3 py-5">

<h2 class="text-center py-5 faq">Conditions générales de ventes</h2>

    <h5 class="py-5 text-center font-weight-bold">Tables des matières</h5>

    <div class="list-group">
        <a href="#objet" class="list-group-item list-group-item-action listfaq">Objet</a>
        <a href="#service" class="list-group-item list-group-item-action listfaq">Caractéristiques des biens et services proposés.</a>
        <a href="#tarifs" class="list-group-item list-group-item-action listfaq">Tarifs</a>
        <a href="#livraison" class="list-group-item list-group-item-action listfaq">Livraison</a>
        <a href="#commandes" class="list-group-item list-group-item-action listfaq">Commandes</a>
        <a href="#retractation" class="list-group-item list-group-item-action listfaq">Rétractation</a>
        <a href="#modalités" class="list-group-item list-group-item-action listfaq">Modalités de paiement</a>
        <a href="#litiges" class="list-group-item list-group-item-action listfaq">Règlement des litiges</a>
    </div>

    <h6 id="objet">Objet</h6>

    <p>Les présentes conditions définissent les relations contractuelles entre le vendeur et l’acheteur ainsi que les conditions
        applicables à tout achat effectué par le biais de ce site marchand, que l’acheteur soit professionnel ou consommateur.
    L’acquisition d’un bien ou d’un service à travers le présent site implique une acceptation sans réserve par l’acheteur des présentes conditions de vente.
    Ces conditions de vente prévaudront sur toutes autres conditions générales ou particulières non expressément agréées par le vendeur.
        Le vendeur se réserve le droit de modifier ses conditions de vente à tout moment. Dans ce cas, les conditions applicables seront celles en vigueur à la date de la commande par l’acheteur.</p>


    <h6 id="service">Caractéristiques des biens et services proposés</h6>

    <p>Les produits sont ceux qui figurent dans le catalogue et via l’espace « Visite de la boutique ».
        Chaque produit est unique et le service de commande en ligne comprend une demande de vérification de sa disponibilité au vendeur.
        Le résultat de cette vérification vous est retourné par le mail de confirmation de votre commande.
        Les photographies sont fidèles mais ne peuvent assurer une similitude parfaite avec le produit, notamment en ce qui concerne les couleurs.</p>


    <h6 id="tarifs">Tarifs</h6>

    <p>Tous nos prix sont nets, taxes et services compris. Tout changement de taux pourra être répercuté sur le prix des produits.
        Par ailleurs, le vendeur se réserve le droit de modifier ses prix à tout moment, étant toutefois entendu que le prix figurant sur la demande d'achat est le seul applicable à l’acheteur.
        Les prix indiqués ne comprennent pas les frais de transport et de livraison, ces derniers étant à la discrétion de l’acheteur.</p>


    <h6 id="livraison">Livraison</h6>

    <p>Nous acceptons les remises en mains propres, la préparation, le postage ou d’accueillir le transporteur selon votre choix et dans les conditions qui lui sont applicables,
        sur nos plages horaires d’ouverture. Les déplacements éventuels à LA POSTE sont bien sur réalisés dans les meilleurs délais.
    La vente est réservée aux acheteurs du monde entier sous réserve que l’acheteur dispose d’une adresse postale effective reconnue.
    Les risques sont à la charge de l’acquéreur à compter du moment où les produits ont quittés les locaux du vendeur .
        En cas de dommage pendant le transport, la protestation motivée doit être formulée auprès du transporteur dans le délai correspondant à ses conditions.</p>


    <h6 id="commandes">Commandes</h6>

    <p>L’acheteur, qui souhaite acheter un produit en ligne doit obligatoirement :
    En réaliser la demande via le formulaire à cet effet (lien "demande d'achat " dans le descriptif de l'objet).
    En envoyant ce formulaire, l’acheteur accepte tacitement les présentes conditions, il reconnaît en avoir la parfaite connaissance et renonce à se prévaloir de ses propres conditions d’achat
        ou d’autres conditions. Votre clic sur le bouton "envoyer votre demande" vaut donc signature et acception des présentes conditions générales de vente.</p>


    <p>Le vendeur :</p>
    <ul>
        <li>Vérifie la disponibilité des produits commandés</li>
        <li>Il vous envoie par mail la demande du paiement (procédure PAYPAL - hautement sécurisée)</li>
        <li>Il est à votre disposition pour vous accompagner en la livraison de votre commande.</li>
    </ul>
    <p>Conformément à la loi relative à l’informatique, aux fichiers et aux libertés du 6 janvier 1978, les informations à caractère nominatif relatives aux acheteurs pourront faire l’objet d’un traitement automatisé. Les acheteurs disposent d’un droit d’accès, de rectification aux données personnelles les concernant.
    Ces informations ne doivent pas être fausses, imprécises ou mensongères.

        Les registres informatisés du vendeur seront considérés par les parties comme preuve des communications, commandes, paiements et transactions intervenue entre les parties.</p>


    <h6 id="retractation">Rétractation</h6>

    <p>L’acheteur, personne physique non professionnelle, bénéficie d’un délai de rétractation de 7 jours à compter de la livraison de sa commande pour faire retour au vendeur des produits achetés pour remboursement sans pénalité, à l’exception des frais de retour .
    Toutes les réclamations, ou demandes de remboursement doivent s’effectuer par voie postale à l’adresse suivante :
        Dépôt-vente Bannier, 104 rue du faubourg Bannier , 45000 Orléans</p>


    <h6 id="modalités"> Modalités de paiement</h6>

    <p>Les paiements sont effectués via Paypal, qui utilise un protocole sécurisé. Pour tout renseignement :www.paypal.fr.
        A la demande de l’acheteur, il lui sera adressé un reçu sur papier.</p>


    <h6 id="litiges">Règlement des litiges</h6>

    <p>Les présentes conditions générales de vente sont régies et interprétées conformément au droit français.
        Le tribunal d’ORLEANS aura compétence pour se prononcer sur tous les litiges susceptibles de naître entre les parties, si toute tentative de règlement à l’amiable ne peut aboutir .</p>


    <p>Date d’effet des présentes conditions (dernière mise à jour)
        MARDI 18 NOVEMBRE 2015</p>

</section>

{% endblock %}